@model IEnumerable<Assig1.Models.Region>

@{
    ViewData["Title"] = "Index";
}

<h1>Regions</h1>

<!--Create a form for the search bar and dropdown bar for regions--> 
<form method="get" class="mb-4">

    <div class="row">
        <!--Create a Search bar-->
        <div class="col-md-7">

            <input type="text" name="SearchText" class=" form-control-rounded" placeholder="Search for Region" maxlength="100" />

        </div>


        <!-- Implement dropdown for the list of Regions-->
        <div class="col-md-3">

            <select name="SelectRegionId" class="form-control">

                <option value=""> All Regions</option>

                @foreach (var region in Model)
                {
                    <option value="@region.RegionId"> @region.RegionName </option>
                }

            </select>

        </div>

        <!--Create a search button-->
        <div class=" col-md-2">

            <button type="submit" class="btn btn-primary btn-block"> Search </button>

        </div>



    </div>

</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RegionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RegionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RegionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
