@model IEnumerable<Assig1.Models.Region>

@{
    ViewData["Title"] = "Index";
}

<h1>Regions</h1>



<!--Create a form for the search bar and dropdown bar for regions--> 
<form method="get" class="mb-4">

    <div class="row">
        <!--Create a Search bar-->



        <div class="col-md-7">

            <input type="text" name="searchText" class="form-control rounded" placeholder="Search by Region Name" aria-label="Search" aria-describedby="search-addon" maxlength="100" />

        </div>


        <!-- Implement dropdown for the list of Regions-->
        <div class="col-md-3">

            <select name="selectedRegionId" class="form-control">

                <option value=""> All Regions</option>

                @foreach (var region in Model)
                {
                    <option value="@region.RegionId"> @region.RegionName </option>
                }

            </select>

        </div>

        <!--Create a search button-->
        <div class=" col-md-2">

            <button type="submit" class="btn btn-primary btn-block"> Search </button>

                         
        </div>




    </div>



</form>


<!--Displaying the Regions in bootstrap cards-->
<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-sm-3 mb-4">

            <div class="card" style="width: 18rem;">

                <img src="@Html.DisplayFor(model => item.ImageUrl)" class="card-img-top" alt="..." style="height: 200px; object-fit: cover;">

                <div class="card-body d-flex flex-column flex-grow-1">

                    <h5 class="card-title mb-auto" style="height: 3rem; overflow: hidden;"> @Html.DisplayFor(modelItem => item.RegionName)</h5>

                    <div>
                        <div class="text-center mt-2">

                            <!-- Added a margin-top for some space above the buttons -->
                            <a asp-action="Edit" asp-route-id="@item.RegionId" class="btn btn-outline-secondary btn-sm mr-2">Edit</a>
                           
                            <a asp-action="Details" asp-route-id="@item.RegionId" class="btn btn-outline-info btn-sm mr-2">Details</a>
                            
                            <a asp-action="Delete" asp-route-id="@item.RegionId" class="btn btn-outline-danger btn-sm mr-2">Delete</a>
                            
                            <a asp-controller="Countries" asp-action="Index" asp-route-id="@item.RegionId" class="btn btn-info btn-sm mt-2">View Countries</a>

                        </div>

                    </div>

 
                </div>

             </div>

        </div>
    }



</div>

<div class=" col-md-2">
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</div>



